mixin field_select(name,options,placeholder = "",id = name)
  .field.field-select
    block
    if placeholder
      select(name=name id=id data-select-placeholder=placeholder)
        option
        each item in options
          option(value=`${item[0]}`) #{item[1]}
    else
      select(name=name id=id)
        each item in options
          option(value=`${item[0]}`) #{item[1]}

mixin field_checkbox()
  .field.field-checkbox
    block

mixin field_base(id, name, label, placeholder, value)
  .field.field-base
    label(for=id)
      input(type="text" name=name data-required id=id placeholder=placeholder value=value)
      .field-inf
        span.name #{label}
        span.errorText пожалуйста, заполните поле корректно
      

mixin field_area(id, name, label, placeholder, size = [30, 10])
  .field.field-area
    label(for=id)
      textarea(name=name id=id placeholder=placeholder cols=size[0] rows=size[1])
      .field-inf
        span.name #{label}
        span.errorText пожалуйста, заполните поле корректно
