mixin icon(iconName, type = 'png')
  if(type == 'png')
    i(class='icon '+'icon-'+iconName)
  else
    i(class='svg-icon '+'svg-'+iconName)

mixin breadcrumbs(path)
  .breadcrumbs
    if path.length
      a(href="#") Главная
    else
      i Главная
    - const curPage = path.pop()
    each page in path
      .link
        a(href="#")=page
    if curPage
      span=curPage

mixin link(href,text)
  a.main-link(href=href) #{text}

mixin field_select(name,options,id = name)
  .field.field-select
    select(name=name id=id)
      each item in options
        option(value=`${item[0]}`) #{item[1]}
mixin field_checkbox(name,label,checked)
  .field.field-checkbox
    label #{label}
      if(checked)
        input(type="checkbox", name=`${name}` checked)
      else 
         input(type="checkbox", name=`${name}`)
