include fields
include file

mixin icon(iconName, type = 'png')
  if(type == 'png')
    i(class='icon '+'icon-'+iconName)
  else
    i(class='svg-icon '+'svg-'+iconName)

mixin breadcrumbs(path = [])
  .breadcrumbs
    if path.length
      a(href="#") Главная
    else
      i Главная
    - const curPage = path.pop()
    each page in path
      .link
        a(href="#")=page
    if curPage
      span=curPage

mixin link(href, text)
  a.main-link(href = href) #{text}

mixin client_service_card
  .client-service-card
    span Клиентский сервис
    a(href="tel: 8 913 001 75 01") +7 913 001-75-01

mixin hashTags(tags,isLink = true)
  .hashTags
    each tag in tags
      if(isLink)
        a(href=tag[1])="#" + tag[0]
      else
        span="#" + tag[0]

mixin linkRect
  .main-link_rect
    block

mixin link_tile(href = "#")
  a(href = href).main-link_tile
    block

mixin sliderControls
  .sliderControls
    block

mixin sliderVerticalControls
  .sliderControls-vertical
    block

mixin decorate_square_trunc
  .decorate-square_trunc
    .decorate-square_trunc-bg
    block

mixin nav_back(title = "Главная", href = "#")
  a(href = href).nav-back #{title}

mixin nav_goto(title = "Главная", href = "#")
  a(href = href).nav-goto #{title}
    +icon("arrow", "svg")