extends ../layouts/clean



block variables

    - pageTitle = "ТК Мега Дыбенко";



block content

    .b-content

        .b-content__wrapper

            aside.b-content__side-bar

                nav.side-nav
                    ul.side-nav__list
                        -
                            var items = [
                                "О компании",
                                "Новости",
                                "Упаковка продукции",
                                { text: "Объекты", active: true },
                                "Видеогалерея",
                                "Сотрудники",
                                "Вакансии",
                                "Социальная  ответственность",
                                "Контакты"
                            ];
                        each item in items
                            li.side-nav__item(class = item.active ? "side-nav__item--active" : "")
                                a(href="").side-nav__item-link #{item.text ? item.text : item}

            main.b-object.b-content__main.b-content__main--pd-t--60.b-content__main--overflow--hidden



                .b-content__main-item.b-content__main-item--pd--hor

                    .b-breadcrumbs
                        -
                            var items = [
                                "Главная",
                                "О компании",
                                "Объекты",
                                pageTitle
                            ];
                        each item in items
                            .b-breadcrumbs__item
                                a(href="").b-breadcrumbs__link #{item}



                .b-content__main-item.b-content__main-item--pd--hor.b-content__main-item--mg-t--35

                    .b-object__row

                        .b-object__slider

                            .b-object-slider

                                .b-object-slider__photo

                                    .swiper-container
                                        .swiper-wrapper
                                            each item in [1, 2, 3, 4]
                                                .swiper-slide.b-object-slider__photo-slide
                                                    .b-object-slider__photo-image
                                                        img.b-object-slider__photo-img(src="images/b-object/photo-1.jpg", alt="")

                                .b-object-slider__row

                                    .b-object-slider__thumb

                                        .swiper-container
                                            .swiper-wrapper
                                                each item in [2, 2, 3, 4]
                                                    .swiper-slide.b-object-slider__thumb-slide
                                                        .b-object-slider__thumb-image
                                                            img.b-object-slider__thumb-img(src=`images/b-object/thumb-${item}.jpg`, alt="")

                                    +sliderControls
                                        button.fs-steps_control-prev
                                        button.fs-steps_control-next

                        .b-object__info

                            h1.title.title--section ТК Мега Дыбенко

                            .b-object__tags

                                ul.hash-list.hash-list--mg-r--20

                                    li.hash.hash-list__item
                                        a(href="").hash-list__link #жилое здание
                                    li.hash.hash-list__item
                                        a(href="").hash-list__link #торговый комплекс
                                    li.hash.hash-list__item
                                        a(href="").hash-list__link #жилое здание
                                    li.hash.hash-list__item
                                        a(href="").hash-list__link #торговый комплекс
                                    li.hash.hash-list__item
                                        a(href="").hash-list__link #жилое здание

                            a(href="").b-object__address г. Томск, район Южные ворота, ул. Королёва 2а

                            p.b-object__date Сдан в 2018 году

                            button.b-object__show
                                .b-object__show-text Режим до / после

                            .b-object__products

                                h2.b-object__products-title Продукты «Геркулес»

                                .b-object__products-wrapper
                                    .b-object__products-wrap
                                        .b-object__products-container

                                            ul.b-object__products-list
                                                li.b-object__products-item
                                                    a(href="").b-object__products-link GP-21M Штукатурка цементная для машинного нанесения
                                                li.b-object__products-item
                                                    a(href="").b-object__products-link Штукатурная станция mono-mix FU (на 220В)
                                                li.b-object__products-item
                                                    a(href="").b-object__products-link GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг
                                                li.b-object__products-item
                                                    a(href="").b-object__products-link GP-21M Штукатурка цементная для машинного нанесения
                                                li.b-object__products-item
                                                    a(href="").b-object__products-link Штукатурная станция mono-mix FU (на 220В)
                                                li.b-object__products-item
                                                    a(href="").b-object__products-link GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг

                                button.b-object__products-showmore
                                    .b-object__products-showmore-text Посмотреть все

                .b-content__main-item.b-content__main-item--pd--hor.b-content__main-item--mg-t--60

                    .b-object__article

                        .b-object__article-wrapper

                            p.b-object__article-text Огромный торгово-развлекательный центр «МЕГА Дыбенко» является одним из ключевых торговых объектов Санкт-Петербурга. Открытие этого мегамолла произошло в 2006 году усилиями компании ИКЕА, которая впоследствии также основала торговый центр «МЕГА Парнас» в противоположной части города.

                            .b-object__article-item

                                h2.title.title--default Магазины в ТЦ «МЕГА Дыбенко»

                                p.b-object__article-text
                                    |На двух этажах торгового центра общей площадью более 140 тыс. кв. м. расположено огромное количество магазинов на любой вкус и кошелек. Крупнейшие арендаторы торговых мест «МЕГА Дыбенко» - мебельный магазин IKEA, мегамаркет бытовой, офисной и цифровой электроники MediaMarkt, гипермаркет товаров для ремонта OBI, магазин сети «Детский мир» и гипермаркет «Ашан».
                                    br
                                    br
                                    |Огромный торгово-развлекательный центр «МЕГА Дыбенко» является одним из ключевых торговых объектов Санкт-Петербурга. Открытие этого мегамолла произошло в 2006 году усилиями компании ИКЕА, которая впоследствии также основала торговый центр «МЕГА Парнас» в противоположной части города.

                .b-content__main-item.b-content__main-item--mg-t--100

                    .tabs

                        .tabs__panel

                            .tabs__panel-item.tabs__panel-item--active(data-tab="1")
                                .tabs__panel-text Продукты «‎Геркулес»‎

                            .tabs__panel-item(data-tab="2")
                                .tabs__panel-text Выполенные работы

                            .tabs__panel-item(data-tab="3")
                                .tabs__panel-text Из технологий «‎GERKULES»‎ было применено

                        .tabs__content

                                .tabs__content-item.tabs__content-item--active(data-tab="1")

                                    .b-object__tab-row

                                        .b-object__tab-slider

                                            .swiper-container
                                                .swiper-wrapper

                                                    each item in [1, 2, 3, 2]
                                                        .swiper-slide

                                                            .product-card

                                                                .product-card__content

                                                                    .product-card__tags

                                                                        .product-card__tag Хит продаж
                                                                        .product-card__tag.product-card__tag--active Акция
                                                                        .product-card__tag новинка

                                                                    .product-card__image

                                                                        img.product-card__img(src=`images/b-object/product-${item}.jpg`)

                                                                    .product-card__title GE-29 Грунтовка укрепляющая глубокого проникновения, 5, 10 кг

                                                                .product-card__btns

                                                                    .product-card__btn
                                                                        +icon("map-pin", "svg")
                                                                    .product-card__btn
                                                                        +icon("rating-red", "svg")

                                        .b-object__tab-btns

                                            button.b-object__tab-btn.b-object__tab-btn--right
                                            button.b-object__tab-btn.b-object__tab-btn--left

                                .tabs__content-item(data-tab="2")

                                    .b-object__tab-row

                                        .b-object__tab-slider

                                            .swiper-container
                                                .swiper-wrapper

                                                    each item in [1, 2, 3, 2]
                                                        .swiper-slide

                                                            .product-card

                                                                .product-card__content

                                                                    .product-card__tags

                                                                        .product-card__tag Хит продаж
                                                                        .product-card__tag.product-card__tag--active Акция
                                                                        .product-card__tag новинка

                                                                    .product-card__image

                                                                        img.product-card__img(src=`images/b-object/product-${item}.jpg`)

                                                                    .product-card__title GE-29 Грунтовка укрепляющая глубокого проникновения, 5, 10 кг

                                                                .product-card__btns

                                                                    .product-card__btn
                                                                        +icon("map-pin", "svg")
                                                                    .product-card__btn
                                                                        +icon("rating-red", "svg")

                                        .b-object__tab-btns

                                            button.b-object__tab-btn.b-object__tab-btn--right
                                            button.b-object__tab-btn.b-object__tab-btn--left

                                .tabs__content-item(data-tab="3")

                                    .b-object__tab-row

                                        .b-object__tab-slider

                                            .swiper-container
                                                .swiper-wrapper

                                                    each item in [1, 2, 3, 2]
                                                        .swiper-slide

                                                            .product-card

                                                                .product-card__content

                                                                    .product-card__tags

                                                                        .product-card__tag Хит продаж
                                                                        .product-card__tag.product-card__tag--active Акция
                                                                        .product-card__tag новинка

                                                                    .product-card__image

                                                                        img.product-card__img(src=`images/b-object/product-${item}.jpg`)

                                                                    .product-card__title GE-29 Грунтовка укрепляющая глубокого проникновения, 5, 10 кг

                                                                .product-card__btns

                                                                    .product-card__btn
                                                                        +icon("map-pin", "svg")
                                                                    .product-card__btn
                                                                        +icon("rating-red", "svg")

                                        .b-object__tab-btns

                                            button.b-object__tab-btn.b-object__tab-btn--right
                                            button.b-object__tab-btn.b-object__tab-btn--left











