extends ../layouts/default.pug

block variables
  -var pageTitle='GP-21M Штукатурка цементная для машинного нанесения'

block content
  .content.card
    .card-top
      .card-sliders
        .card-sliders_thumbs
          .swiper-container
            .swiper-wrapper
              each item in [1, 2, 1, 3, 1]
                .swiper-slide
                  img(src=`../images/product-thumb-${item}.png`, alt="")
        .card-sliders_photos
          .swiper-container
            .swiper-wrapper
              - for (let i = 0; i < 5; i++)
                .swiper-slide
                  img(src=`../images/product-main.png`, alt="")
      .card-info
        +breadcrumbs(['Каталог','Грунтовки',pageTitle])
        .fs-productCard_status
          span хит продаж
          span.active акция
        .card-top_row
          .card-top_col
            h1 GP-21M Штукатурка цементная для машинного нанесения
          .card-top_col.content-bottom
            a(href="#").calculator-link Калькулятор для ремонта
              +icon("expand", "svg")
        .card-top_row
          .card-top_col
            h2 Преимущества
            ul
              li Универсальный наливной пол 2 в 1: стяжка и финишный ровнитель
              li Можно ходить через 4 часа
              li Влагостойкий. Подходит для тёплого пола
              li Для ручного и машинного нанесения
              li Толщина слоя от 2 до 100 мм.
            h2 Фасовка
            .card-packing
              .card-packing_item
                h3 Канистра
                p 2 кг и 3 кг
              .card-packing_item
                h3 Ведро
                p 15 кг
          .card-top_col.content-padding
            h2 Цвет
            .card-colors
              .card-colors_item.content-border(style="background-color: #FFFFFF")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #D1E0DC")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #535B62")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #ADB6AC")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #7CB7B3")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #FDE8CE")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #ADB6AC")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #DABD96")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #EED4B4")
                p Бирюзовый
                  br
                  span №325
              .card-colors_item(style="background-color: #FDE8CE")
                p Бирюзовый
                  br
                  span №325
            h2 Фактура
            .card-colors
              each item in [1, 2, 3, 1, 2]
                .card-colors_item
                  img(src=`../images/product-texture-${item}.jpg`, alt="")
                  p Бирюзовый
                    br
                    span №325
        .card-links
          .card-links_item.comparison-link
            a(href="#")
              +icon("rating-red", "svg")
              span В сравнение
          .card-links_item.buy-link
            a(href="#")
              +icon("map-pin", "svg")
              span Где купить?
          .card-links_item
            a(href="#")
              +icon("question", "svg")
              span Задать вопрос
          .card-links_item
            a(href="#")
              +icon("calculator", "svg")
              span Калькулятор расхода
        a(href="#").card-info_file.content-small-margin
          +icon("pdf", "svg")
          h3 Описание «Штукатурка цементная»
          p pdf, 15 mb
            +icon("down-gray", "svg") 
    .tabs-menu
      .tabs-menu_item.active Описание
      .tabs-menu_item Применение
      .tabs-menu_item Технические характиристики
      .tabs-menu_item Логистические параметры
      .tabs-menu_item Часто задаваемые вопросы
      .tabs-menu_item Видео
    .tabs-list
      .tabs-item.tab-text.active
        h2 Описание
        .tabs-item_col
          p Сухая цементная штукатурная смесь машинного нанесения предназначена для оштукатуривания бетонных, каменных, кирпичных стен внутри и снаружи зданий. Наносится механизированным способом (с помощью растворосмесительных насосов непрерывного действия, например, M-Tec, PFT) или вручную.
          h3 Свойства
          p Цементная штукатурка для машинного нанесения GP-21 представляет собой сухую смесь цемента, фракционированного кварцевого песка и полимерных добавок. Штукатурка легко наносится и не сползает с поверхности, обладает необходимой прочностью и сцеплением с основанием.
          h3 Состав
          p Цемент, фракционированный кварцевый песок и специальные добавки ведущих европейских производителей.
      .tabs-item.tab-text
        h2 Применение
        .tabs-item_col
          h3 А. Подготовка основания
          p Оштукатуриваемая поверхность должна быть сухой, не промёрзшей, свободной от пыли и грязи, жировых или масляных пятен, остатков старой краски и других разделительных веществ. Рыхлые и осыпающиеся поверхности должны быть механически расчищены. Пористые и сильновпитывающие поверхности рекомендуется обработать грунтовкой «Геркулес». Тип грунтовки выбрать в соответствии с типом основания (см. в описании грунтовки).
          h3 B. Приготовление раствора
          p Сухая штукатурная смесь подается в расходный бункер смесителя. Расход воды задается в соответствии с требуемой консистенцией раствора. Приготовленный в смесителе раствор с помощью распылителя наносится на поверхность между установленными маяками. Распылитель должен располагаться перпендикулярно оштукатуриваемой поверхности на расстоянии около 30 см (до сопла).
          h3 C. Нанесение
          p Раствор наносится сверху вниз, горизонтальными рядами, формируя захватки шириной около 70 см. Движение распылителя должно осуществляться таким образом, чтобы при возвратно-поступательных движениях центр набрызга штукатурного раствора находился на нижнем крае нанесенного раствора. Каждую последующую захватку наносить с перекрытием предыдущей в 5–10 см. После нанесения штукатурный раствор разравнивается, используя правило. При необходимости нанести дополнительный слой раствора, где его не достаточно.
            br
            br
            | Нанесение штукатурок производить без наличия пустот в слое. В месте образования пустот образуются трещины.
            br
            br
            span.content-italic-red Внимание! При нанесении механизированным способом раствор в шлангах и смесителе не должен находиться в неподвижном состоянии более 30 мин.
          h3 D. После нанесения
          p Нанесенную и выровненную штукатурку необходимо выдержать в течении 1–2 ч., а затем слегка увлажнить и затереть. Температура основания и окружающей среды за 3 дня до нанесения, во время и в последующие 3 дня должна находиться в пределах от +5° до +27°С.
          h3 Рекомендации
          p Не добавлять в штукатурку известь, цемент, гипс и другие материалы.
            br
            | Скорость высыхания слоя штукатурки зависит от температуры и влажности.
            br
            | Нельзя искусственно ускорять процесс сушки и твердения путем установки обогревателей.
            br
            | Не использовать штукатурку в целях, не предусмотренных в данном техническом описании.
          h3 Меры предосторожности
          p Сухая смесь взрыво- и пожаробезопасна, не токсична, не содержит асбестовых волокон. При попадании смеси в глаза немедленно промыть большим количеством воды и обратиться к врачу. Смесь экологически безопасна.
          h3 Хранение
          p Хранить в сухом помещении в закрытой оригинальной упаковке избегая контакта мешка с влагой.
            br
            | Гарантийный срок хранения – 12 месяцев с даты производства (дата производства на торцевой части мешка).
          h3 Очистка инструмента
          p Очистка рук тары, инструмента производится теплой мыльной водой сразу по завершении работ.
          p.content-small Производитель не несёт ответственности за неправильное использования материалов, а так же за его применения в целях и условиях, не предусмотренных техническим описанием. Работы необходимо выполнять в соответствии со строительными нормами и правилами. Техническое описание не заменяет профессиональной подготовки исполнителя. В каждом конкретном случае применения, имеющегося отклонения от технического описания, требуется провести работы по нанесению на небольшом участке с целью проверки т.к. производитель не может повлиять на ряд факторов(температура воздуха, влажность, количество воды, используемый инструмент и т.п.).Техническое описание производителя носит рекомендательный характер и не может является основанием для предъявления претензий имущественного характера.
      .tabs-item.tab-text
        h2 Технические
          br
          | характеристики
        .tabs-item_col
          .tabs-item_line
            p Цвет
            p Серый
          .tabs-item_line
            p Вяжущее
            p Цемент
          .tabs-item_line
            p Наибольший размер частиц
            p 1,2 мм
          .tabs-item_line
            p Прочность при сжатии, не менее
            p 10 МПа
          .tabs-item_line
            p Средняя плотность, не более
            p 1750 кг/м
          .tabs-item_line
            p Насыпная плотность, не более
            p 1700 кг/м
          .tabs-item_line
            h3 Расход воды
            p на 1 кг сухой смеси
            p 0,18–0,23 л/кг сух. смеси
            p на 1 мешок 25 кг
            p 4,5–5,75 л/м сух. смеси
            p на машине M-Tec М280 (шнековая пара D 6-3 оранжевая)
            p 250–350 л/ч.
          .tabs-item_line
            p Выход готового раствора
            p 0,62 л/кг сухой смеси
          .tabs-item_line
            p Средний расход смеси при толщине слоя 1 мм
            p 1,61 кг/м
          .tabs-item_line
            p Рекомендуемая толщина слоя
            p  5–30 мм
          .tabs-item_line
            p Жизнеспособность, не менее
            p 3 ч.
          .tabs-item_line
            p Готовность для дальнейших работ, не ранее
            p 3 сут.
          p Все вышеперечисленные характеристики справедливы при температуре в помещении
            br
            | 20°С и нормальной влажности воздуха.
          p.content-margin-small Смесь сухая штукатурная для наружных и внутренних работ, КП IV, F50
            br
            | механизированного нанесения ГОСТ 33083-2014
            br
            | ТУ 5745-008-49720964-05
      .tabs-item.tab-text
        h2 Логистические
          br
          | параметры
        .tabs-item_col
          h3 Расход воды
          .tabs-item_line
            p Размер мешка (Высота/Ширина/Толщина):
            p 420/250/120 мм
          .tabs-item_line
            p Мешков в паллете/Мешков в ряду/Рядов:	
            p 56/8/7
          .tabs-item_line
            p Размер паллеты (Высота/Длина/Ширина):
            p 104/124/86 см
          .tabs-item_line
            p Паллет в вагоне:
            p 46
      .tabs-item.tab-questions
        h2 Часто задаваемые
          br
          | вопросы
        .tabs-item_col
          .tabs-item_question.open
            h3 Какая шпатлевка лучше – готовая или сухая?
            p Рощиков Виталий
            .tabs-item_dropdown Они предназначены для разных видов работ. Готовые шпатлёвки предназначены для окончательного выравнивания стен и заделки небольших дефектов. Есть много видов сухих шпатлёвок различного применения. В основной массе они подразделяются для грубого выравнивания и финишного выравнивания поверхности под последующую отделку. Преимущественно основу шпатлёвки составляет цемент (или белый или серый), или гипс. Гипсовыми шпатлёвками можно производить выравнивание любых поверхностей, имеющих глубокие и широкие трещины и выбоины.
          .tabs-item_question
            h3 Сейчас такой огромный выбор шпатлевок. Расскажите, какие шпатлевки лучше использовать для предварительной и финишной отделки полногабаритного помещения. При этом, чтобы стены и потолок стали идеально ровными?
            p Елисеев С.А.
            .tabs-item_dropdown Они предназначены для разных видов работ. Готовые шпатлёвки предназначены для окончательного выравнивания стен и заделки небольших дефектов. Есть много видов сухих шпатлёвок различного применения. В основной массе они подразделяются для грубого выравнивания и финишного выравнивания поверхности под последующую отделку. Преимущественно основу шпатлёвки составляет цемент (или белый или серый), или гипс. Гипсовыми шпатлёвками можно производить выравнивание любых поверхностей, имеющих глубокие и широкие трещины и выбоины.
          .tabs-item_question
            h3 Какая шпатлевка лучше – готовая или сухая?
            p Рощиков Виталий
            .tabs-item_dropdown Они предназначены для разных видов работ. Готовые шпатлёвки предназначены для окончательного выравнивания стен и заделки небольших дефектов. Есть много видов сухих шпатлёвок различного применения. В основной массе они подразделяются для грубого выравнивания и финишного выравнивания поверхности под последующую отделку. Преимущественно основу шпатлёвки составляет цемент (или белый или серый), или гипс. Гипсовыми шпатлёвками можно производить выравнивание любых поверхностей, имеющих глубокие и широкие трещины и выбоины.
      .tabs-item.tab-videos
        h2 Видео
        .tabs-item_col
          .fs-list
            //- item[0] - номер картинки, item[1] - заголовок, item[2] - описание
            -
              let items = [
                [
                  3, 
                  "Видеоинструкция по монтажу СФТК «GERKULES FACADE». Часть 1.",
                  "Видеоинструкция по монтажу СФТК «GERKULES FACADE».<br>Часть 1."
                ],
                [
                  4,
                  "Видеоинструкция по использованию штукатурки машинного нанесения",
                  "Какие инструменты Вам потребуются для выполнения работ по выравниванию пола, как пользоваться сухими смесями"
                ],
                [
                  3, 
                  "Видеоинструкция по монтажу СФТК «GERKULES FACADE». Часть 1.",
                  "Видеоинструкция по монтажу СФТК «GERKULES FACADE».<br>Часть 1."
                ],
                [
                  4,
                  "Видеоинструкция по использованию штукатурки машинного нанесения",
                  "Какие инструменты Вам потребуются для выполнения работ по выравниванию пола, как пользоваться сухими смесями"
                ]
              ]
            each item in items
              .fs-list_item
                a.fs-list_item-video(href="#")
                  img(src=`./images/video-preview-${item[0]}.jpg`, alt="")
                  .play
                a.fs-list_item-name(href="#") !{item[1]}
                p !{item[2]}
    .card-products
      h2 Сопутствующие товары
      +sliderVerticalControls
        button.product-list-next
        button.product-list-prev
      .swiper-container.card-products_slider
        .swiper-wrapper
          each item,key in [1,2,2,2,1,2]
            .swiper-slide
              .fs-productCard
                .fs-productCard_info
                  .fs-productCard_status
                    span хит продаж
                    span.active акция
                    span новинка
                  .fs-productCard_photo
                    img(src=`../images/product-list-${item}.png`, alt="")
                  a(href="#").fs-productCard_title GP-31 Штукатурка известково-цементная Геркулес, 25 кг
                .fs-productCard_buttons
                  a(href="#").fs-productCard_buttons-loc
                    +icon("map-pin", "svg")
                  a(href="#").fs-productCard_buttons-rate
                    +icon("rating-red", "svg")
    .card-files
      .card-files_title
        h2 Сертификаты
        a(href="#") Скачать сертификаты
          +icon("down", "svg")
      .card-files_list
        .card-files_item
          a(href="#")
            +icon("pdf", "svg")
            .card-files_info
              h3 Сертификаты ГОСТ
              p pdf, 15 mb
                +icon("down-gray", "svg")
        .card-files_item
          a(href="#")
            +icon("pdf", "svg")
            .card-files_info
              h3 Свидетельство о государственной регистрации (СГР)
              p pdf, 15 mb
                +icon("down-gray", "svg")
        .card-files_item
          a(href="#")
            +icon("pdf", "svg")
            .card-files_info
              h3 Лицензии и сертификаты
              p pdf, 15 mb
                +icon("down-gray", "svg")
        .card-files_item
          a(href="#")
            +icon("pdf", "svg")
            .card-files_info
              h3 Санитарное заключение на грунтовку
              p pdf, 15 mb
                +icon("down-gray", "svg")
    .card-passport
      h2 Паспорт качества
      p Для получения паспорта качества введите данные с упаковки.
      .card-passport_row
        .card-passport_col
          form(action="#")
            .field-row
              +field_base("date", "date", "Введите дату", "день.месяц.год")
              +field_base("time", "time", "Введите время", "00:00")
            p Дата в паспорте качества может не совпадать с датой на упаковке (зависит от даты начала работы смены)
            +linkRect
              button(id="submit", name="submit")
              span Сформировать паспорт
              +icon("link-white-arrow", "svg")
        .card-passport_col
        .card-passport_col
          +sliderControls
            button.passport-control-prev
            button.passport-control-next
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                h3 Где найти дату производства 
                  br
                  | на упаковке?
                .card-passport_help
                  img(src="../images/product-passport.png", alt="")
                  p Дата и время производства
                    br
                    | указаны на тыльной стороне
                    br
                    | упаковки
              .swiper-slide
                h3 Где найти дату производства 
                  br
                  | на упаковке?
                .card-passport_help
                  img(src="../images/product-passport.png", alt="")
                  p Дата и время производства
                    br
                    | указаны на тыльной стороне
                    br
                    | упаковки
    .fs-objects
      .fs-objects_all
        +link("#", "Все объекты")
      h2 Данный продукт применялся на объектах
      .fs-objects_objects
        +sliderVerticalControls
          button.fs-objects_next
          button.fs-objects_prev
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .fs-objects_object
                .fs-objects_photo
                  .fs-objects_sticker
                    span Сдан в 2018 году
                  img(src="../images/object-2.png", alt="")
                .fs-objects_info
                  +hashTags([["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"]])
                  h3 ТК Гранд Каньон
                  p г. Новосибирск, ул. Иванова, 8
                  h4 Выполенные работы
                  ul
                    li Выравнивание стен / оштукатуривание
                    li Заливка / выравнивание полов
                    li Монтаж СФТК
                  h4 Продукты «Геркулес»
                  .fs-objects_products
                    a(href="#") GP-21M Штукатурка цементная для машинного нанесения
                    a(href="#") Штукатурная станция mono-mix FU (на 220В)
                    a(href="#") GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг
                    a(href="#") GP-21M Штукатурка цементная для машинного нанесения
            .swiper-slide
              .fs-objects_object
                .fs-objects_photo
                  .fs-objects_sticker
                    span Сдан в 2018 году
                  img(src="../images/object-2.png", alt="")
                .fs-objects_info
                  +hashTags([["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"], ["торговый комплекс", "#"], ["жилое здание", "#"]])
                  h3 ТК Гранд Каньон
                  p г. Новосибирск, ул. Иванова, 8
                  h4 Выполенные работы
                  ul
                    li Выравнивание стен / оштукатуривание
                    li Заливка / выравнивание полов
                    li Монтаж СФТК
                  h4 Продукты «Геркулес»
                  .fs-objects_products
                    a(href="#") GP-21M Штукатурка цементная для машинного нанесения
                    a(href="#") Штукатурная станция mono-mix FU (на 220В)
                    a(href="#") GE-129 Грунтовка-концентрат ГИПСОГРУНТ Геркулес, 10 и 30 кг
                    a(href="#") GP-21M Штукатурка цементная для машинного нанесения
    .card-calculator
      .card-calculator_col
        h2 Калькулятор расхода
        img(src="../images/card-calculator.jpg", alt="")
      .card-calculator_col
        .field-row
          +field_base("productCalculator_area", "productCalculator_area", "Площадь поверхности, кв.м", "", "350")
            input.sliderRange(data-slider-min='0' data-slider-max='500')
          +field_base("productCalculator_thick", "productCalculator_thick", "Толщина слоя, мм", "", "30")
            input.sliderRange(data-slider-min='0' data-slider-max='100')
          +field_select('',[[25,'25'],[35,'35'],[50,'50']])
            .field-select_caption Размер упаковки
        h3 Вам потребуется
        .card-calculator_row
          .card-calculator_result
            span 44 кг
            span 5 мешков
          a(href="#")
            +icon("down", "svg")
            | Сохранить результат
        p Этот калькулятор помогает сделать примерный расчет количества продукта.
          br
          | Калькулятор не учитывает потери материалов во время использования и квалификацию мастера.
    .card-bottom Со временем связи с родоначальниками сухих строительных смесей только укреплялись. Сегодня
      br
      | технологический отдел компании «Геркулес-Сибирь» активно сотрудничает
      br
      | с лабораториями наших стратегических партнеров – мировыми лидерами в области строительной химии –
      br
      | компаниями BAYER, WACKER, Bang &amp; Bonsomer.
