extends ../layouts/default

block variables
  - const pageTitle = "Описание системы СФТК";

block content
  .content-row
    include ./fs/sidebar.pug
    .content.facadeSystem
      +breadcrumbs(['Фасадные системы',"Описание системы СФТК"])
      h1.page-title Описание системы СФТК
      .fs-about_top
        h2 Системы GERKULES FACADE MW/PS состоят из следующих слоев:
        ol
          li Клеевой слой (наносится на утеплитель)
          li Теплоизоляционный слой
          li Базовый штукатурный армирующий слой
          li Защитно-декоративный слой
      .fs-about_list1
        .fs-about_schema
          img(src="./images/schema-1.png", alt="")
          each mark in [1, 2, 3, 4, 5, 6, 7, 6, 8, 9]
            p
              span #{mark}
        .fs-about_list
          h3 GERKULES FACADE MW
          -
            let list = [
              [1, "Несущее основание"],
              [2, "Грунтовка GE-29 (при необходимости)"],
              [3, "Клеевой слой – клеевая армирующая смесь GM-185"],
              [4, "Плита утеплителя"],
              [5, "Дюбель тарельчатый"],
              [6, "Армирующий слой – клеевая армирующая смесь GM-185"],
              [7, "Армирующая сетка щелочестойкая"],
              [6, "Армирующий слой - клеевая армирующая смесь GM-185"],
              [8, "Грунтовка GE-39К"],
              [9, "Защитно-декоративный слой - штукатурка декоративная Gerkules GD-31 «Короед» или Gerkules GD-21 «Шуба» с покрытием фасадной краской"]
            ]
          ol
            each item in list
              li #{item[1]}
                span #{item[0]}
      .fs-about_list2
        .fs-about_list
          h3 GERKULES FACADE PS
          ol
            each item in list
              li #{item[1]}
                span #{item[0]}
        .fs-about_schema
          img(src="./images/schema-2.png", alt="")
          each mark in [1, 2, 3, 4, 5, 6, 7, 6, 8, 9]
            p
              span #{mark}
      .fs-about_table
        h2 Сравнение систем
        .fs-about_table-table
          .fs-about_table-row
            .fs-about_table-col
              h4 GERKULES FACADE MW
            .fs-about_table-col
              h4 GERKULES FACADE PS
          h3 Область применения
          .fs-about_table-row
            .fs-about_table-col
              ul
                li Строительство новых жилых и общественных зданий
                li Коттеджное и малоэтажное строительство
                li Реконструкция и капитальный ремонт муниципальных, общественных и жилых зданий
            .fs-about_table-col
              ul
                li Строительство новых жилых и общественных зданий
                li Коттеджное и малоэтажное строительство
                li Реконструкция и капитальный ремонт муниципальных, общественных и жилых зданий
          h3 Технические характеристики
          .fs-about_table-row
            .fs-about_table-col
              ul
                li Строительство новых жилых и общественных зданий
                li Коттеджное и малоэтажное строительство
                li Реконструкция и капитальный ремонт муниципальных, общественных и жилых зданий
            .fs-about_table-col
              ul
                li Строительство новых жилых и общественных зданий
                li Коттеджное и малоэтажное строительство
                li Реконструкция и капитальный ремонт муниципальных, общественных и жилых зданий
          h3 Стоимость
          .fs-about_table-row
            .fs-about_table-col
              p
                | Стоимость материалов и работ СФТК при толщине утеплителя 100 мм
                br
                br
                span
                  | ППС от 1750 до 2250 руб./ м. кв.
                  br
                  | МВП от 2000 до 2500 руб./м.кв.
            .fs-about_table-col
              p
                | Стоимость материалов и работ СФТК при толщине утеплителя 100 мм
                br
                br
                span
                  | ППС от 1750 до 2250 руб./ м. кв.
                  br
                  | МВП от 2000 до 2500 руб./м.кв.
      .fs-about_menu
        .fs-info_menu
          .fs-info_menu-line
            a(href="#") Область приминения СФТК
            a(href="#") Декоративные возможности СФТК
      include fs/contacts