extends ../layouts/clean

block variables
    - var pageTitle = "Поставщикам";

block content
    .provider
        .b-content
            .b-content__wrapper
                aside.b-content__side-bar
                    nav.side-nav
                        ul.side-nav__list
                            li.side-nav__item.side-nav__item--active
                                a(href="").side-nav__item-link Поставщикам
                            li.side-nav__item
                                a(href="").side-nav__item-link Тендеры для поставщиков
                            li.side-nav__item
                                a(href="").side-nav__item-link Тендерная площадка для транспортных компаний
                main.provider__main.b-content__main.b-content__main--pd-t--60
                    .b-content__main-item.b-content__main-item--pd--hor
                        .b-breadcrumbs
                            .b-breadcrumbs__item
                                a(href="").b-breadcrumbs__link Главная
                            .b-breadcrumbs__item
                                a(href="").b-breadcrumbs__link #{pageTitle}
                    .b-content__main-item.b-content__main-item--pd--hor.b-content__main-item--mg-t--35
                        h1.title.title--page #{pageTitle}
                    .b-content__main-item.b-content__main-item--pd--hor.b-content__main-item--mg-t--60
                        p.title.title--default
                            |Мы приглашаем к сотрудничеству поставщиков транспортных услуг, сырья, оборудования, канцелярии и прочих товаров 
                            br
                            |и услуг, необходимых для нашего производства.
                    .b-content__main-item.b-content__main-item--mg-t--70
                        .provider__cases
                            -
                                var cases = [
                                    "Большие объёмы закупок",
                                    "Надёжный плательщик",
                                    "Тендерная система выбора<br>подрядчиков",
                                    "Точный весовой контроль",
                                    "Удобная работа с документами<br>через ЭДО (СБИС)",
                                    "Разные виды доставки<br>авто и ж/д",
                                ];
                            each caseText, caseIndex in cases
                                .provider__case
                                    .provider__case-image
                                        +icon(`provider-case-${caseIndex + 1}`, "svg")
                                    .provider__case-content
                                        .provider__case-text !{caseText}
                    .b-content__main-item.b-content__main-item--mg-t--120
                        .provider__demands
                            .provider__demands-container
                                h2.provider__demands-title.title.title--default
                                    |Ознакомьтесь, пожалуйста, со списком минимальных требований к кандидатам в контрагенты:
                                ul.provider__demands-list
                                    -
                                        var demands = [
                                            "Директор не является лицом, лишенным права занимать руководящие должности",
                                            "Контрагент не находится в процессе ликвидации/банкротства",
                                            "Контрагент не находится в реестре недобросовестных поставщиков",
                                            "Контрагент имеет в собственности или в аренде/лизинге транспортные средства",
                                            "При соответствии перечисленным условиям вы можете направлять нам ваши предложения.",
                                        ];
                                    each demand in demands
                                        li.provider__demands-item #{demand}
                            .provider__demands-link
                                +btn-p-gram("Тендеры для поставщиков", "", "javascript:void(0)")
                    .b-content__main-item.b-content__main-item--mg-t--120
                        .provider__transport
                            h2.title.title--section
                                |Транспортным компаниям
                            p.provider__transport-text
                                |Приглашаются к сотрудничеству транспортные компании
                                br
                                |для грузоперевозок по территории России и зарубежных стран. К перевозке принимаются еврофуры грузоподъемностью 20 тонн, с возможностью боковой, верхней и задней загрузки/выгрузки.
                    .b-content__main-item.b-content__main-item--mg-t--120
                        .provider__info
                            h2.title.title--section
                                |Информация о проведении тендера 
                                br
                                |по междугородним перевозкам на 2020 г.
                            .provider__info-container
                                .provider__info-row
                                    .provider__info-col 
                                        h3.provider__info-title
                                            |Регистрация участников
                                        p.provider__info-text.provider__info-text--mt--15
                                            |15.10.2020 — 25.10.2020
                                        h3.provider__info-title.provider__info-title--mt--75
                                            |Завершение тендера
                                        p.provider__info-text.provider__info-text--mt--35
                                            |15.10. — 25.10.
                                        p.provider__info-text.provider__info-text--mt--15
                                            |Информирование участников о результатах тендера
                                    .provider__info-col
                                        h3.provider__info-title
                                            |Для участия необходимо:
                                        ul.provider__info-list
                                            li.provider__info-item.provider__info-text
                                                |Заполнить анкету
                                            li.provider__info-item.provider__info-text
                                                |Ознакомится с обязательными условиями
                                            li.provider__info-item.provider__info-text
                                                |Предоставить Ваши тарифы действующие 
                                                br
                                                |с 01.12.19 г. по 30.11.2020 г.
                                            li.provider__info-item.provider__info-text
                                                |Отправить информацию на почту 
                                                a(href="javascript:void(0)").provider__info-link
                                                    |disp@gerkules.ru
                                        p.provider__info-text.provider__info-text--mt--50
                                            |В случае выбора компании вам будет направлен список необходимых документов и типовой договор для заключения. Действие договора с 01.12.19 г. по 30.11.2020 г.
                                            br
                                            br
                                            |После заключения договора вам будет предоставлен доступ к тендерной площадке. При работе на площадке более 2-х месяцев, обсуждается возможность предоставления определенного количества заявок на конкретные направления. При этом дополнительно заключается сервисный контракт.
                    .b-content__main-item.b-content__main-item--mg-t--120
                        h2.provider__docs-title.title.title--section
                            |Документы для скачивания
                        ul.provider__docs
                            -
                                var docs = [
                                    { title: "Иструкция по применению сухих смесей", info: "pdf, 15 mb" },
                                    { title: "Технические характеристики грунтовки", info: "pdf, 15 mb" },
                                    { title: "Лицензии и сертификаты", info: "pdf, 15 mb" },
                                ];
                            each doc in docs
                                li.provider__doc
                                    .provider__doc-image
                                        +icon("pdf-3", "svg")
                                    a(href="javascript:void(0)").provider__doc-content
                                        h3.provider__doc-title
                                            |#{doc.title}
                                        p.provider__doc-bottom
                                            +icon("down-gray", "svg")
                                            span.provider__doc-info
                                                |#{doc.info}
                    .b-content__main-item.b-content__main-item--pd--hor.b-content__main-item--mg-t--120                      
                        h2.title.title--section
                            |Для предложений и вопросов
                        form(action="").provider__form.b-form
                            .b-form__row
                                .b-form__item.b-form__item--w--50p
                                    label.b-form__item
                                        .b-form__item-title.b-form__item-title--mb--17
                                            |Имя*
                                        .b-form__item-input
                                            input(type="text", name="name", placeholder="Алексей", required).text-input
                                    label.b-form__item.b-form__item--mt--30
                                        .b-form__item-title.b-form__item-title--mb--17
                                            |Фамилия*
                                        .b-form__item-input
                                            input(type="text", name="surname", placeholder="Биланин", required).text-input
                                    label.b-form__item.b-form__item--mt--30
                                        .b-form__item-title.b-form__item-title--mb--17
                                            |Номер телефона*
                                        .b-form__item-input
                                            input(type="text", name="phone", placeholder="+7 (___) ___-__-__", required).text-input
                                .b-form__item.b-form__item--w--50p.b-form__item--ml--40
                                    label.b-form__item
                                        .b-form__item-title.b-form__item-title--mb--17
                                            |Email
                                        .b-form__item-input
                                            input(type="text", name="email", placeholder="ksh@cloudmill.ru").text-input
                                    label.b-form__item.b-form__item--mt--30
                                        .b-form__item-title.b-form__item-title--mb--17
                                            |Компания
                                        .b-form__item-input
                                            input(type="text", name="company", placeholder="ГК Плюс").text-input
                                    label.b-form__item.b-form__item--mt--30
                                        .b-form__item-title.b-form__item-title--mb--17
                                            |Тема
                                        .b-form__item-input
                                            input(type="text", name="topic", placeholder="Оборудование").text-input
                            .b-form__row.b-form__row--mt--30
                                .b-form__item.b-form__item--w--50p.b-form__item--ml--40.b-form__item--order--1
                                    label.b-form__item
                                        .b-form__item-title.b-form__item-title--mb--17
                                            |Ваш вопрос
                                        .b-form__item-input
                                            textarea(name="question", placeholder="Текст вопроса").area-input
                                .b-form__item.b-form__item--w--50p
                                    .b-form__item
                                        .b-form__item-title.b-form__item-title--mb--17
                                            br
                                        .b-form__item-input
                                            label.file-input
                                                input.file-input__input.js--file-input(type="file", name="file", placeholder="Добавить файл")
                                                .file-input__view
                                                    span.file-input__name.file-input__name--placeholder
                                                    .file-input__icon
                                                        +icon("file-1", "svg")
                            .b-form__row.b-form__row--mt--40.b-form__row--ai--center.b-form__row--jc--sb
                                label.b-form__item
                                    .b-form__item-input
                                        label.checkbox-input
                                            input.checkbox-input__input(type="checkbox", name="agreement", required)
                                            p.checkbox-input__text
                                                |«Я выражаю согласие на обработку ПДн в соответствии 
                                                br
                                                |с 
                                                a(href="").checkbox-input__link
                                                    |Политикой конфиденциальности
                                                |»
                                .b-form__item.b-form__item--ml--40.b-form__item--fg--1.b-form__item--max-w--270
                                    +btn-p-gram("Отправить")
