extends ../layouts/clean

block variables
    - pageTitle = "Видеогалерея";

block content
    .videos
        .b-content
            .b-content__wrapper
                aside.b-content__side-bar
                    nav.side-nav
                        ul.side-nav__list
                            -
                                var items = [
                                    "О компании",
                                    "Новости",
                                    "Упаковка продукции",
                                    "Объекты",
                                    { text: "Видеогалерея", active: true },
                                    "Сотрудники",
                                    "Вакансии",
                                    "Социальная  ответственность",
                                    "Контакты",
                                ];
                            each item in items
                                if (item.active)
                                    li.side-nav__item.side-nav__item--active
                                        a(href="").side-nav__item-link #{item.text}
                                else
                                    li.side-nav__item
                                        a(href="").side-nav__item-link #{item}
                main.b-content__main.b-content__main--pd-t--60.b-content__main--pd-b--120
                    .b-content__main-item.b-content__main-item--pd--hor
                        .b-breadcrumbs
                            -
                                var items = [
                                    "Главная",
                                    "О компании",
                                    pageTitle,
                                ];
                            each item in items
                                .b-breadcrumbs__item
                                    a(href="").b-breadcrumbs__link #{item}
                    .b-content__main-item.b-content__main-item--mg-t--35.b-content__main-item--pd--hor
                        h1.title.title--page #{pageTitle}
                    .b-content__main-item.b-content__main-item--mg-t--60.b-content__main-item--pd--hor
                        
                        form.videos__filter(action="")
                            .videos__filter-container
                                each item in [1, 2, 3]
                                    .videos__filter-item
                                        .videos__filter-label
                                            .videos__filter-caption
                                                |#{item}
                                        .videos__filter-control
                                            select.videos__filter-select
                                                option.videos__filter-option #{item}
                                                option.videos__filter-option #{item}
                                                option.videos__filter-option #{item}
                                .videos__filter-item
                                    button.videos__filter-button(type="reset")


                        
                        //- form.videos__filter(action="")
                        //-     .videos__filter-row
                        //-         .videos__filter-col
                        //-             .videos__filter-label
                        //-             .videos__filter-control
                            //- each item in [1, 2, 3]
                            //-     .videos__filter-item
                            //-         select
                            //-             each option in [1, 2, 3]
                            //-                 option #{item}
                            //- .videos__filter-item
                            //-     button(type="reset") reset
                    .b-content__main-item
                        .publication
                            .publication__list.publication__list--mg-t--m1.publication__list--mg-l--m1
                                each i in [1, 2]
                                    each j in [1, 2, 3, 4]
                                        .publication__item
                                            a(href="").publication__content.videos__item-content
                                                .publication__image.videos__item-image
                                                    img.publication__img(src=`./images/video-preview-${j}.jpg`)
                                                    .videos__item-button
                                                h6.title.title--default.videos__item-title
                                                    |Как приминять клеевую армирующую смесь Геркулес GM-185
                    .b-content__main-item.b-content__main-item--mg-t--60
                        a(href="").showmore
                            .showmore__wrapper
                                .showmore__text Показать еще
                                .showmore__count 52
