.events-control
  .control-date
    button.date-prev
    span Сентябрь 2020
    button.date-next
  .control-loc
    .control-loc__row
      .control-loc__col
        .select-input
          select(
            name="city", 
            data-no-search,
            data-theme="default select2-container--main",
            data-placeholder="Город", 
            data-width="100%"
          ).select-input__select
            option
            each option in [1, 2, 3]
              option(value = option)
                |#{'Город ' + option}
      .control-loc__col
        .select-input
          select(
            name="type", 
            data-no-search,
            data-theme="default select2-container--main",
            data-placeholder="Тип события",
            data-width="100%"
          ).select-input__select
            option
            each option in [1, 2, 3]
              option(value = option)
                |#{'Тип события ' + option}
